@import url(reset.css);
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inspiration&display=swap');

html, body {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    background-color: #4A1507;
    margin: 0;
    padding: 0;
}

.container {
    width: 1440px;
    margin: 20px auto;
}

.logo {
    display: flex;
    justify-content: start;
    text-align: center;
    align-items: center;
}

.title__h1 {
    font-family: "Inspiration", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 4rem;
    color: #FFFFFF;
    padding-left: 20px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
    margin-bottom: 1rem;
    width: 97.8%;
    height: auto;
    background-color: #440B02;
    border-radius: 0.5rem;
}

.primary__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    list-style: none;
}

.list__item {
    padding: 0.5rem;
}

.nav__link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.link {
    border-left: 1px solid #6E4220;
    padding: 0.25rem 0.25rem 0.25rem 0.75rem;
}

.nav__link:hover {
    color: #ED3D00;
    background-color: #401B0D;
}

.icon__burger {
    display: none; /* Masqué par défaut sur les grands écrans */
    padding: 0.5rem;
    border: 1px solid #FFFFFF;
    border-radius: 0.5rem;
    color: #FFFFFF;
    cursor: pointer;
}

.pageGenerale {
    width: 1440px;
    height: auto;
    margin-bottom: 0;
}

.gridEntete {
    display: grid;
    grid-template-columns: 25% 75%;
    background-color: #78A899;
    gap: 1rem;
}

.bannerGeneral {
    width: 100%;
    gap: 1rem;
}

.imageBanniere {
    padding: 20px;
}

.description {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-right: 50px;
}

.subtitle__h2 {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 3rem;
}

.presentation {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: justify;
}

.menuGalerie {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    text-decoration: none;
}

.second__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: baseline;
    padding: 1.5rem;
    list-style: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 1.5rem;
    width: 100%;
}

.secondList__item {
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;
}

.secondList__item::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #FFFFFF;
}

.nav__linkGalery {
    text-decoration: none;
    color: #FFFFFF;
}

.galeryPaint {
    background-color: #DDD9C6;
    width: 98.6%;
    height: 100%;
}

.subtitle__h2_Paint {
    color: #435D63;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    margin: 20px;
    padding: 10px;
}

.naissanceDeces {
    color: #435D63;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 1rem;
    text-align: justify;
    margin: 20px;
    padding-right: 20px;
    padding-left: 20px;
}

.gridTableaux {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 20px;
    padding: 20px;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.galeryImage {
    width: 30%;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.copyright {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.icon {
    margin-right: 10px;
}

/* Media query pour les écrans de moins de 768px */
@media screen and (max-width: 768px) {
    .container {
        width: 85%;
        margin: auto;
    }

    .nav {
        max-width: 95%;
    }
    
    .link__left {
        padding: 0.25rem 0.25rem 0.25rem 0.75rem;
    }

    .link {
        border-left: none;
        padding: 0.25rem 0.25rem 0.25rem 0.75rem;
    }

    .icon__burger {
        display: block; /* Affiche l'icône "Burger" sur les petits écrans */
    }

    .primary__list {
        display: none; /* Masque le menu principal */
    }

    .primary__list.active {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 20px;
    }

    .pageGenerale {
        display: flex;
        flex-direction: column; /* Change à une seule colonne */
        width: 100%;
        margin: auto;
    }

    .gridEntete {
        grid-template-columns: 1fr; /* Une seule colonne */
    }

    .imageBanniere {
        display: none; /* Masque la bannière */
    }

    .subtitle__h2 {
        width: 90%; /* Ajuste la largeur */
        margin: auto;
    }

    .presentation {
        width: 90%; /* Ajuste la largeur */
        margin: auto;
        padding-top: 10px;
    }

    .menuGalerie {
        width: 90%; /* Ajuste la largeur */
        margin: auto;
        flex-direction: column;
    }

    .galeryPaint {
        width: 90%; /* Ajuste la largeur */
        margin: auto;
    }

    .subtitle__h2_Paint {
        font-size: 2rem;
        padding-left: 10px;
        margin: 10px 0;
    }

    .naissanceDeces {
        padding: 10px;
        margin: 0;
    }

    .gridTableaux {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 10px;
        justify-items: center;
        padding: 10px;
    }

    .copyright {
        color: #FFFFFF;
        font-size: 0.85rem;
        padding-top: 1rem;
        padding-bottom: 2rem;
    }
}
